.ex-1-square:hover {
    background-color: red;
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2);
    transition: 2s;
}

.ex-5-square:active {
    transform: scale(.5);
    transition: 2s;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover {
    filter: sepia(1) invert(1);
    transition: 2s;
}

.ex-8-img:hover {
    filter: sepia(1) invert(1);
    transition: 2s;
    border-radius: 10px;
}

.ex-9-img:hover {
    filter: sepia(1) invert(1);
    transition: 2s;
    border-radius: 10px;
    transform: scale(1.5);
}

.ex-10-icon:hover {
    transform: rotate(365deg);
    animation: 5s linear infinite;
}